body {
    padding: 0;
    margin: 0;
     color: #000; 
    text-decoration: none;
      box-sizing: content-box;
}
@font-face {
  font-family: 'calibri';
  src: url("./fuente/calibri-regular.ttf") format('truetype');
  font-style: normal;
  font-weight: normal;
}

header {
    background-color:#73968f;
   
}
ol, ul {
	list-style: none;
}

.logos {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    padding-bottom: 1%;

}
.logos1{
    display: flex;

}

.lupa{
    display: flex;
    
}
a{
   transition: all 1s;
}
 a:hover{
 opacity: .5;
}
.serv:hover{
 transition: all .5s;   
 box-shadow: 10px 2px 10px rgb(152, 146, 146);


}
.paginaPrincip {
  margin: auto;
}
.contenedor {
    margin-top: 2em;
    width: 100%;
    background-image: url(../imagenes/fondovideo2.png);
    background-size: 100% 100%;
}
#video {
    width: 50%;
    height: 50%;
    display:block;
    margin: auto;    
}
.titu1 h2{
    color:lightblue;
    padding-top: 20px;
}
.mapa {
  width: 100%;
  height: 50vh;
  border: 2px solid #a4a4a4;
  display: flex;
}
.mapa img {
  width: 50%;
  height: 500px;
  position: absolute;
}
.mapa-m {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.doctores img {
    width: 300px;
    padding-left: 20px;
}
.botones img {
    width: 190px;
    justify-content: center;
    align-content: center;
    padding-left: 8px;
    margin-bottom: 40px;

}
footer {
    background: #73968f;
    
}
.container-footer {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.formulario {
    margin-top:2rem;
    color:ghostwhite;
    font-size: 12px;
}
footer .foot {
    width: 1200px;
    height: 100px;
}

/*formulario de contacto */
#form-input{
    background: #D8DFDF;
}
.flechas{
   filter: invert(1);
}
.noticias{
    height: 300px;
    margin-top: 1%;
    transition: all 1s;
   filter:opacity(.6)
   
}
.noticias:hover{
    cursor:pointer;
   filter:opacity(1.2)
}

.i-sistema{
    width: 18%;
    font-size: 1.5rem;
}
.b-sistema{
    border-bottom: 1px solid #a4a4a4;
}
.cont-sistema{
    align-items: center;
    height: 30em;
}
.foo-responsive{
    width: 30% !important;
}
.tarjeta-it {
    margin: 3rem!important;
}
.slider-inst{
    height: 25%;
}
.form-resp{
    text-align:justify;
}
.bg-ul{
    background-color: #73968F !important;
}


@media screen and (max-width:900px) and (min-width:481px) {
    .buscar{
        display: none;
    }
     #navPanel{
        display: block;
    }
   
    .not-resp{
        align-items: center;
        flex-direction:column;
        align-self: center;
    }



    footer .parrafo{
        display: contents; 
        
    }
    footer .formulario{
        display: contents;
    }
    footer .subtitulo > h4 {
        display: none;
        
    }
    .logo-footer{
    justify-content: center;
    }
    .nav-foo{
        display: flex;
        flex-direction: column;
        margin-left: 3%;
    }
    footer .pestafoot{
        padding-right: 50vh;
    }
    footer ol > #listaServ {
        margin: 0 100%;
        padding: 0  100%;
    }
    #video{
        width: 70%;
    }
 
    .nosot-resp{
        width: 100%  !important;
    }
    .instit-resp{
        width: 92% !important;
        margin: auto;
    }
    .frases-resp{
    display: none !important;
    }
    .tarjeta-it{
        width: 80% !important;
        margin: auto !important; 
    }
}

@media screen and (max-width:480px) {
     .buscar{
        display: none;
    }
    .serv-resp{
        align-self: center!important;
    }
    .noticias{
        margin: 0 !important;

    }
    .not-resp{
        align-items: center;
        flex-direction:column;
        align-self: center;

    }
.form-resp{
    margin: 3rem;
}
        .nav-foo{
        display: flex;
        flex-direction: column;
        margin-left: 3%;
    }
     .interv-temp-resp{
        display: none;
    }
     #video{
        width: 75%;
    }
      .nosot-resp{
        width: 100%  !important;
    }
     .instit-resp{
        width: 100% !important;
        margin: 3%;
    }
    .frases-resp{
    display: none !important;
    }
    .tarjeta-it{
        width: 100% !important;
        margin: 10px !important; 
    }
    .logo-footer{
    justify-content: center;
    }
 
}